@media screen and (min-width:600px) {
    body {
        min-height: 100vh;
    }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}
@media screen and (max-width:600px) {
    main{
        flex-direction: column;
    }
}